<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="Console" level="info"/>
            <appender-ref ref="MyFile" level="error"/>
        </root>
    </loggers>
</configuration>
<!-- <?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- <Console name="LogtoConsole">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </console> -->
<File name="LogToFile" fileName="logs/Log4j.log">
    <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %c{1} - %msg%n"/>
</File>
</Appenders>
<Loggers>
<Root level="info">
    <AppenderRef ref="console" />
</Root>
</Loggers>
</Configuration> -->


